/*  Fuente general: font-family: Roboto,'Arial', sans-serif; 
    color tipogragía: #424242
    color background body: #202124
    color barras bottom: #181718
    color hover busqueda y botones: #303134
    color font header y botones: eeeeee
    color font footer: #6F6F73
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202124;
    font-size: 14px;
    font-family: 'Roboto','Arial', sans-serif;
    letter-spacing: 0.09px;
}

header{
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content:flex-end;
    height: 12vh;
}

header div{
    align-items: center;
}

/* Primeros links*/
header div a {
    text-decoration: none;
    color: #eeeeee;
    padding-left: 15px;
}

a:hover{
    text-decoration: underline;
}


/* Icono de apps*/
.i-choco{
    box-sizing: border-box;
    padding:8px;
    margin-left:10px;
    margin-right: 5px;
    width: 32px;
    height: 32px;
    border-radius: 10px;
}

a img.i-choco:hover{
    background-color: #424242 ;
    pointer-events: painted;
}

.choco-menu{
border-radius: 10px;
box-shadow: -1px -1px 5px rgba(0, 0, 0,0.5);
position: absolute;
top: 60px;
right: 10px;
padding: 12px;
width: 300px;
height: 400px;
background-color: #333438;
display: none;
justify-content: space-between;
}

.choco-menu.active {
display: block;
}

.choco-icons{
height: 50px;
width: 50px;
}

.choco-ul{
list-style: none;
}

.choco-li{
display: inline-block;
list-style: none;
color: #eeeeee;
}

.choco-li p{
    text-align: center;
    }

a .choco-li:hover{
background-color: #424242 ;
pointer-events: painted;
}

/* VER 
nav a:link, nav a:visited {
display: inline-block;
width: 24px;
color:rgba(255,255,255,0.87);
padding: 10px;
} */




/* Icono de email*/
.roundimg{
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin-right: 15px;
    border-color: #202124;
    border-style: solid;
}

.roundimg:hover{
    border-color: #aaacaf;
    border-style: solid;
}

main{
    height: 72vh;
}

/* LOGO PRINCIPAL */

.logo {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section div img{
    display: inline-block;
    width: 300px;
    height: 129px;
}

/* CONTAINER BARRA */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* BARRA DE BUSQUEDA */

section .barra-busqueda input{
    width: 420px;
    height: 45px;
    border: none;
    outline: none;
    background-color: inherit;
    margin-left: 5px;
    color: #eeeeee;
}

section .barra-busqueda{
    width: 530px;
    border-radius: 100px;
    border: 1.5px solid #424242;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

section .container .barra-busqueda:hover{
    box-shadow: 0 1.5px 4px 0 #424242;
    }

section .lupita{
    display: inline-block;
    background-image: url(../images-reto1/icons/searching-glass.png);
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

section .microfonito{
    display: inline-block;
    background-image: url(../images-reto1/icons/google-voice.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

section .camarita{
    display: inline-block;
    background-image: url(../images-reto1/icons/google-lens.png);
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 8px;
    margin-right: 10px;
}


/* BOTONES DE BUSQUEDA */

.search-buttons button{
    border: 1px solid #303134;
    border-radius: 4px;
    background-color: #303134;
    color: #eeeeee;
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.search-buttons button:hover{
    border: 1px solid #aaacaf;
    border-radius: 4px;
    cursor: pointer;
}

/* FOOTER NO PUEDO CREER QUE ESTOY TERMINANDO GRACIASSSS */

footer{
    display: flex;
    flex-direction: column;
    height: 90px;
}

footer section{
    padding: 0 30px;
    display: flex;
    align-items: center;
    height: 50%;
    color: #aaacaf;
    background-color: #151515;
}

footer section.useful-info{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #aaacaf;
}

footer section div{
    display: flex;
    gap: 10px;
}
footer section div a{
    text-decoration: none;
    color: #aaacaf;
}

footer section p{
    font-size: 15px;
}

footer section div span:hover{
    cursor: pointer;
    text-decoration: underline;
}
