/* 
Font: Josefin Sans: font-family: 'Josefin Sans', sans-serif;
Color tipografía e íconos: #A84DFF
Color 
*/

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
}

header{
    height: 20vh;
    
}

footer{
    height: 20vh;
    
}
/* --------- NAV ------------ */
nav{
    margin-top: 50px;    
}

.menu{
    border: none;
    margin-top: 12px;
    background-color: transparent;
    padding-left: 20px;
    float: right;
}

.barra-inicio{
display: flex;
align-items: center;
flex-wrap: wrap;
padding: 10px;
border-style: solid;
border-radius: 10px;
border-color: #A84DFF;
color: #A84DFF;
border-width: 3.5px;
}

.titulo{
    display: inline-block;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
}

.barra-inicio{
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: #A84DFF;
    color: #A84DFF;
    border-width: 3.5px;
}
.varita{
    width: 25px;
    height: 25px;

}
.varita2{
    width: 25px;
    height: 25px;
}
/* ------------ CSS BIENVENIDA ----------- */
.bienvenida{
    display: block;
    margin: 0 auto;
    width: 150px;
    margin-top: 60px;
}

.container-bienvenida{
    height: 60vh;
}

.container-bienvenida.inactive{
    display: none;
}

.msj-bienvenida{
    font-size: 20px;
    color: #A84DFF;
    text-align: center;
    margin-top: 20px;
}


/* ------------ CSS TASK LIST ----------- */

.container-input{
    height: 60vh;
    display: block;
}

/*.container-input.active{
    display: block;
}
.container-input.inactive{
    display: none;
} */


.list-group-item.active{
    background-color: #A84DFF;
    border-style: none;
    font-size: 18px;
}

.list-group-item{
    background-color: white;
    border-style: solid;
    border-color: grey;
    font-size: 14px;
}
.btn.btn-primary{
    float: right;
    background-color: #A84DFF;
    border-style: none;
    font-size: 14px;
}

/* ------------ CSS NEW TASK ----------- */

.container-newtask{
    display: block;
}

.hidden{
    display: none;
}

/*.container-newtask.active{
    display: block;
}

.container-newtask.inactive{
    display: none;
}*/

.card{
    border-style: solid;
    border-color: #A84DFF;
    border-width: 3.5px;
    padding: 10px;
}

/* Botoncito listo */
.divlisto{
    display: flex;
    justify-content: end;
}
.btn.btn-secondary{
    background-color: #A84DFF;
    border-style: none;
    font-family: 'Josefin Sans', sans-serif;
    width: 30%;
    font-size: 18px;
}

/* Opciones importancia - no les pude cambiar el alto */


#urgente{
    background: #F6A8A6;
}

#nocolgar{
    background-color:#F4CDA6;
}

#esperar{
    background-color:#F9F0C1;
}

#esperarmucho{
    background-color: #C0ECCC;
}
/* ------- CSS FOOTER ------- */
.plus-img{
    border: none;
    margin-top: 10px;
    background-color: transparent;
    float: left;
}

.plus-img.active{
    display: flex;
}

.plus-img.inactive{
    display: none;
}
